<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{{ project }}</title>
  <link rel="icon" href="{{ url_for('static', path='/img/favicon.svg') }}" type="image/svg+xml" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <main class="center">
  <img src="{{ url_for('static', path='/img/logo.svg') }}" alt="logo" class="logo" />
  <h1>{{ project }}</h1>
  <p>FastAPI template by <strong>{{ org }}</strong></p>

  <div class="powered">
    <span>Powered by</span>
    <a href="https://ditdev.vercel.app"
       target="_blank"
       rel="noreferrer"
       class="mini powered-link"
       data-tooltip="Visit DitDev (developer)">DitDev</a>
    ·
    <a href="https://fastapi.tiangolo.com"
       target="_blank"
       rel="noreferrer"
       class="mini powered-link"
       data-tooltip="FastAPI Official Docs">FastAPI</a>
    ·
    <a href="https://pykit.vercel.app"
       target="_blank"
       rel="noreferrer"
       class="mini powered-link"
       data-tooltip="PyKit Official Docs">PyKit</a>
  </div>

  <div class="links">
    <a class="btn" href="https://pykit.vercel.app" target="_blank" rel="noreferrer">
      <i class="fa-solid fa-file"></i> PyKit Docs
    </a>
  </div>
</main>

<footer>
  &copy; {{ year }}
  <a href="https://ditdev.vercel.app"
     target="_blank"
     rel="noreferrer"
     class="mini footer-link"
     data-tooltip="Visit Developer">{{ org }}</a>
  · v{{ version }}

  <a href="https://github.com/rillToMe"
     target="_blank"
     rel="noreferrer"
     class="mini github-icon"
     data-tooltip="View on GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
</footer>



  <script src="{{ url_for('static', path='/js/app.js') }}"></script>
</body>
</html>
