<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>404 · {{ project }}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" />
</head>
<body>
  <main class="center">
    <h1>404</h1>
    <p>Page not found.</p>
    <a href="/" class="btn">Go Home</a>
  </main>
  <footer>© {{ year }} {{ org }}</footer>
</body>
</html>
