<svg width="512" height="512" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" fill="none">
  <rect width="64" height="64" rx="14" fill="#0f1116"/>
  <path d="M16 40 L28 16 L36 16 L48 40 L40 40 L32 24 L24 40 Z" fill="#6ea8fe"/>
</svg>
